<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
     <type name="Magento\Newsletter\Controller\Subscriber\NewAction">
        <plugin name="Mailboxvalidator_EmailValidator_Plugin" type="Hexasoft\MailboxValidator\Plugin\Validatenewsletter" sortOrder="10" disabled="false"  />
    </type>
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="Mailboxvalidator_EmailValidator_Plugin" type="Hexasoft\MailboxValidator\Plugin\Validatecontactform" sortOrder="10" disabled="false"  />
    </type>
</config>