<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="mailboxvalidator_emailvalidator" frontName="mailboxvalidator_emailvalidator">
            <module name="Mailboxvalidator_EmailValidator" />
        </route>
    </router>
</config>





